.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    overflow: hidden;
    margin-top: 20px;

    &__visible {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        height: 55px;
        border-radius: 5px;
        border: none;
        background-color: $main-color;
        cursor: pointer;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        line-height: 55px;
        font-size: 32px;
        color: $secondary-color;
        font-family: $main-font;
        margin-left: 20px;
    }
}

.collapse__visible img {
    text-align: center;      
    height: 30px;
    width: 30px;
    margin-right: 25px;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}

.collapse__visible img.active {
    transform: rotate(-180deg)
}

.toggle {
    width: 80%;
    display: none;
    background-color: $main-background;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    
    &__text {
        font-size: 18px;
        font-family: $main-font;
        color: $main-color;
        padding: 20px;
    }
}

//Animation drop down (collapse description)
@keyframes slide-in {
    from{
        transform: translateY(-100%);
    }
}
@keyframes slide-out {
    from {
        transform: translateY(0);
        display: flex;
    }
    to{
        transform: translateY(-100%);
    }
}

.animated {
    opacity: 1;
    animation: slide-in 0.5s ease-in-out forwards;
    z-index: -1;
    display: flex;

}

.reverse {
    opacity: 1;
    animation: slide-out 0.5s ease-in-out forwards;
    z-index: -1;
}




