.Banner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    &__nav {
        gap: 10px;
        color: $main-color;
        font-family: $main-font;
        text-decoration: none;
    }
}