@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  min-width: 320px;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}
.navbar__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  color: #FF6060;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
}

.nav-link.active {
  border-bottom: 2px solid #FF6060;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 0 100px 20px 100px;
}
.banner__container {
  position: relative;
  width: 100%;
}
.banner__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 320px;
  border-radius: 20px;
}
.banner__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 320px;
  min-height: 320px;
  width: 100%;
  border-radius: 20px;
}
.banner__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 68px;
  width: 100%;
  text-align: center;
  padding: 0 20px;
}

.container-global {
  padding: 0 100px;
}

.container {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin: 30px 0 50px 0;
  padding: 60px 20px;
  background-color: #F6F6F6;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 55px 0;
}

.card {
  position: relative;
  width: 29%;
  height: 450px;
}
.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 35%);
  border-radius: 10px;
}
.card__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__title {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  font-family: "Montserrat";
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  padding: 0 20px;
}

.footer {
  background-color: #000000;
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  padding-top: 70px;
}
.footer__logo {
  display: flex;
  justify-content: center;
}
.footer__txt {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 24px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  color: #FF6060;
  padding: 0 50px;
}
.error__txt {
  font-size: 300px;
  font-weight: bold;
  margin: 100px 0 60px 0;
  padding: 0 50px;
}
.error__title {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}
.error__link {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #FF6060;
  cursor: pointer;
  border-bottom: 1px solid;
  margin: 120px 0;
}

.collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 220px;
  overflow: hidden;
  margin: 20px 0 30px 0;
}
.collapse__visible {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: none;
  background-color: #FF6060;
  cursor: pointer;
}
.collapse__content {
  display: flex;
  justify-content: space-between;
}
.collapse__title {
  line-height: 55px;
  font-size: 32px;
  color: #FFFFFF;
  font-family: "Montserrat";
  margin-left: 20px;
}

.collapse__visible img {
  text-align: center;
  height: 30px;
  width: 30px;
  margin-right: 25px;
  margin-top: 15px;
  transition: 0.3s ease-in-out;
}

.collapse__visible img.active {
  transform: rotate(-180deg);
}

.toggle {
  width: 100%;
  display: none;
  background-color: #F6F6F6;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  opacity: 1;
  animation: slide-out 0.5s ease-in-out;
  z-index: -1;
}
.toggle__text {
  font-size: 18px;
  font-family: "Montserrat";
  color: #FF6060;
  padding: 20px;
}

.animated {
  opacity: 1;
  animation: slide-in 0.5s ease-in-out forwards;
  z-index: -1;
  display: flex;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0);
    display: flex;
  }
  to {
    transform: translateY(-100%);
  }
}
.container-announcement {
  padding: 0 100px;
}

.card-announcement {
  display: flex;
  flex-direction: column;
}

.carousel {
  width: 100%;
  height: 415px;
}

.carousel img {
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.announcement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-family: "Montserrat";
  gap: 5px;
  margin-top: 35px;
}
.announcement__title {
  color: #FF6060;
  font-weight: 600;
  font-size: 36px;
}
.announcement__location {
  color: #FF6060;
  font-size: 18px;
}

.container-info {
  display: flex;
  flex-direction: row;
}

.collapse-container {
  display: flex;
  gap: 70px;
  overflow: hidden;
  width: 100%;
}

.announcement-collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.collapse-title {
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Montserrat";
  margin-left: 10px;
  line-height: 55px;
}

.list-item {
  list-style-type: none;
}

.tags-container {
  display: flex;
  flex-direction: row;
  padding: 18px 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.tags__content {
  background-color: #FF6060;
  border-radius: 10px;
  padding: 5px 30px;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 14px;
}

.profile {
  display: flex;
  align-items: center;
  margin: 25px 0 10px 0;
}
.profile__title {
  color: #FF6060;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: right;
  line-height: 28px;
}
.profile__img {
  border-radius: 99px;
  width: 75px;
  height: 75px;
  margin-left: 10px;
  cursor: pointer;
}

.rating {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 10px 0 30px 0;
}/*# sourceMappingURL=style.css.map */