.profile {
    display: flex;
    align-items: center;
    margin: 25px 0 10px 0;


    &__title {
        color: $main-color;
        font-family: $main-font;
        font-size: 20px;
        text-align: right;
        line-height: 28px;

    }

    &__img {
        border-radius: 99px;
        width: 75px;
        height: 75px;
        margin-left: 10px;
        cursor: pointer;
    }
}

.rating {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 10px 0 30px 0;
}

