@import '../Breakpoints/breakpoints';

.profile {
    display: flex;
    align-items: center;
    margin: 25px 0 10px 0;

    //Media queries
    @include mobile {
        justify-content: flex-end;
    }


    &__title {
        color: $main-color;
        font-family: $main-font;
        font-size: 20px;
        text-align: right;
        line-height: 28px;

        //Media queries
        @include desktop {
            font-size: 18px;
        }

        @include tablet {
            margin-left: 20px;
        }

        @include mobile {
            font-size: 15px;
            margin-left: 0;
            line-height: 20px;
            width: 70px;
        }

    }

    &__img {
        border-radius: 99px;
        width: 75px;
        height: 75px;
        margin-left: 10px;
        cursor: pointer;

        //Media queries
        @include desktop {
            width: 70px;
            height: 70px;
        }

        @include mobile {
            width: 50px;
            height: 50px;
        }
    }
}

.profile-container {

    //Media queries
    @include mobile {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 50px;
        margin: 5px 0 10px 0;
    }
}

.rating {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 10px 0 30px 0;

    //Media queries
    @include tablet {
        align-items: center;
    }

    @include mobile {
        padding: 0;
        margin-top: 15px;
    }
}

.rating img {

    //Media queries
    @include desktop {
        width: 33px;
    }

    @include tablet {
        width: 30px;
        height: 30px;
    }

    @include mobile {
        width: 22px;
        height: 22px
    }
}